body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:634px;
  width:320px;
  height:40px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:320px;
  word-wrap:break-word;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:243px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u699 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:226px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u700 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:243px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u701 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:234px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u702 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:243px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:276px;
  width:2px;
  height:20px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:276px;
  width:2px;
  height:20px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:276px;
  width:2px;
  height:20px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:276px;
  width:2px;
  height:20px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:276px;
  width:2px;
  height:20px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:6px;
  background:inherit;
  background-color:rgba(25, 118, 210, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:283px;
  width:360px;
  height:6px;
  opacity:0.25;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716 {
  position:absolute;
  left:248px;
  top:251px;
  touch-action:none;
}
#u716_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background-image:none;
}
#u716_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:80px;
  height:80px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:320px;
  height:39px;
  text-align:center;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:215px;
  width:37px;
  height:17px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:381px;
  width:80px;
  height:17px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:24px;
  height:24px;
}
#u726_img.mouseOver {
}
#u726.mouseOver {
  opacity:0.5;
}
#u726_img.mouseDown {
}
#u726.mouseDown {
}
#u727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729 {
  position:fixed;
  left:50%;
  margin-left:-180px;
  bottom:0px;
}
#u729_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background-image:none;
}
#u729_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u730_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730.mouseOver {
  opacity:0.5;
}
#u730_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730.mouseDown {
}
#u730_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730.disabled {
  opacity:0.2;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  word-wrap:break-word;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:674px;
  width:100px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:105px;
  width:36px;
  height:16px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:130px;
  width:320px;
  height:47px;
}
#u736_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background-color:transparent;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#303F9F;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:5px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:177px;
  width:320px;
  height:2px;
  color:#009688;
}
#u737_img.selected {
}
#u737.selected {
}
#u738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:407px;
  width:360px;
  height:77px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:482px;
  width:160px;
  height:76px;
  text-align:left;
}
#u742_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u742.selected {
}
#u743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:482px;
  width:160px;
  height:76px;
  text-align:right;
}
#u744_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u744.selected {
}
#u745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:407px;
  width:160px;
  height:76px;
  color:#FFFFFF;
  text-align:left;
}
#u747_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u747.selected {
}
#u748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:407px;
  width:160px;
  height:76px;
  color:#FFFFFF;
  text-align:right;
}
#u749_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u749.selected {
}
#u750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:557px;
  width:160px;
  height:76px;
  text-align:left;
}
#u751_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u751.selected {
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:557px;
  width:160px;
  height:76px;
  text-align:right;
}
#u753_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u753.selected {
}
#u754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:483px;
  width:320px;
  height:1px;
}
#u755_img.selected {
}
#u755.selected {
}
#u756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:558px;
  width:320px;
  height:1px;
}
#u757_img.selected {
}
#u757.selected {
}
#u758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:406px;
  width:320px;
  height:1px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:633px;
  width:320px;
  height:1px;
}
#u761_img.selected {
}
#u761.selected {
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.2);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:3px;
  width:300px;
  height:4px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:4px;
  background:inherit;
  background-color:rgba(25, 118, 210, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:3px;
  width:200px;
  height:4px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:2px;
  width:6px;
  height:6px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:2px;
  width:6px;
  height:6px;
  color:#CCCCCC;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2px;
  width:6px;
  height:6px;
  color:#CCCCCC;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:2px;
  width:6px;
  height:6px;
  color:#CCCCCC;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
