body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:360px;
  height:78px;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:286px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:269px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:286px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:277px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:286px;
  width:72px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:319px;
  width:2px;
  height:20px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:319px;
  width:2px;
  height:20px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:319px;
  width:2px;
  height:20px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:319px;
  width:2px;
  height:20px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:319px;
  width:2px;
  height:20px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:6px;
  background:inherit;
  background-color:rgba(25, 118, 210, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:326px;
  width:360px;
  height:6px;
  opacity:0.25;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:248px;
  top:294px;
  touch-action:none;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background-image:none;
}
#u33_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:80px;
  height:80px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:387px;
  width:320px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:564px;
  width:160px;
  height:76px;
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:254px;
  width:327px;
  height:17px;
  font-size:14px;
  text-align:center;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:564px;
  width:160px;
  height:76px;
  text-align:right;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 121, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:489px;
  width:169px;
  height:76px;
  color:#FFFFFF;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:157px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 121, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:489px;
  width:170px;
  height:76px;
  color:#FFFFFF;
  text-align:right;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:158px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:639px;
  width:160px;
  height:76px;
  text-align:left;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:639px;
  width:160px;
  height:76px;
  text-align:right;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:156px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:745px;
  width:320px;
  height:60px;
}
#u53_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53.mouseOver {
  opacity:0.5;
}
#u53_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53.mouseDown {
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:565px;
  width:320px;
  height:1px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:640px;
  width:320px;
  height:1px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:488px;
  width:320px;
  height:1px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:715px;
  width:320px;
  height:1px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:805px;
  width:100px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:408px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:327px;
  width:360px;
  height:1px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009688;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:335px;
  width:152px;
  height:24px;
  font-size:20px;
  color:#009688;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:6px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:324px;
  width:150px;
  height:3px;
  color:#009688;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:369px;
  width:300px;
  height:48px;
  color:#666666;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:128px;
  width:294px;
  height:125px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:125px;
  background-color:transparent;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#303F9F;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:5px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:222px;
  width:320px;
  height:2px;
}
#u76_img.selected {
}
#u76.selected {
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
