body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-120px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#009688;
  text-align:center;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:117px;
  width:320px;
  height:176px;
  font-size:36px;
  color:#009688;
  text-align:center;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 63, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:395px;
  width:320px;
  height:60px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:304px;
  width:228px;
  height:19px;
  font-family:'Lato-Regular', 'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:40px;
  width:47px;
  height:47px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
